<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verde Valley Volleyball</title>
</head>

<body>
    <h1>Verde Valley Volleyball Team Tool</h1>

    <!-- Radio buttons of options, unfortunately hardcoded number, TODO use Jinja to fix that -->
    <form>Select a roster
        <input type="radio" name="rosterN" value="roster1">1</>
        <input type="radio" name="rosterN" value="roster2">2</>
        <input type="radio" name="rosterN" value="roster3">3</>
        <input type="radio" name="rosterN" value="roster4">4</>
        <input type="radio" name="rosterN" value="roster5">5</>
        <input type="submit" value="Select"/>
    </form>
    <ol>
        <li>Open a roster</li>
        <li>List top 3 attackers</li>
        <li>List top 3 blockers</li>
        <li>Make and display scrimmage teams</li>
        <li>Quit</li>
    </ol>

    <form>
        <input type="text" name="action"/>
        <input type="submit" value="Select an action"/>
    </form>

    <p>{{msg}}</p>

</body>

</html>