<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verde Valley Volleyball</title>
    <link href="../styles/style.css" rel="stylesheet" type="text/css">

    <style>
        .gobutton {
            background-color: #4CAF50;
            color: white;
            text-align: center;
            font-size: 16px;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <h1>Verde Valley Volleyball Team Tool</h1>

    <!-- Radio buttons of options, unfortunately hardcoded number, TODO use Jinja to fix that -->
    <form>Select a roster
        <input type="radio" name="rosterN" value="roster1">1</>
        <input type="radio" name="rosterN" value="roster2">2</>
        <input type="radio" name="rosterN" value="roster3">3</>
        <input type="radio" name="rosterN" value="roster4">4</>
        <input type="radio" name="rosterN" value="roster5">5</>
        <input type="submit" value="Select"/>
    </form>

    {% if rosterSelected %}
        <form>Choose an action
         <select>
          <option name="actionN" value="action1">List Top 3 Attackers</option>
          <option name="actionN" value="action2">List Top 3 Blockers</option>
          <option name="actionN" value="action3">Make and display scrimmage teams</option>
          <option name="actionN" value="action4">Quit</option>
         </select>
         <input class="gobutton" type="button" name="go" value="GO"/>
        </form>
    {% endif %}

    <!--<form>-->
        <!--<input type="text" name="action"/>-->
        <!--<input type="submit" value="Select an action"/>-->
    <!--</form>-->

    <p>{{msg}}</p>

</body>

</html>